.wrapper-category {
    border-radius: 5px;
    padding: 40px;
    background-color: white;
    p {
        margin-bottom: 0 !important;
        margin-left: 10px;
    }
    .table {
        border: 1px solid rgb(212, 209, 209);
        border-radius: 4px;
        td {
            vertical-align: middle;
        }
    }
    .pagination {
        li {
            &.active {
                background-color: cyan;
            }
        }
    }
}