.wrapper-order{
    border-radius:5px ;
    padding: 30px;
    background-color: azure;
    .table{
        border: 2px solid red;
        border-radius: 5px;
        td{
            vertical-align: middle;
        }
    }
    .pagination{
        li{
            &.active {
                background-color: aqua;
            }
        }
    }
}

.ng-select{
    .ng-clear-wrapper{
        width: 200px !important; 
    }
}
.form-group{
    // width: 90%;
    margin-bottom: .5rem !important;
    ng-select{
        width: 200px !important;
    }
}

