<!-- header -->
<div class="header">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Home</a>
        <span class="breadcrumb-item active" href="#">Order</span>
    </nav>
</div>

<div id="header">
    <div class="d-md-flex align-items-center bg-white p-3">
        <h3 class="mb-0" style="color:black">Oder List</h3>
        <div class="ml-auto mt-3 mt-md-0">

            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addOrder">
            <i  class="fas fa-edit" >Add+</i></button>
        </div>

    </div>
    <div class="d-md-flex align-items-center border-top">
        <th>

            <select class="form-control" [(ngModel)]="keyStatus" page="0" (change)="searchStatus()">
                <!-- <option label="--select something --"></option> -->
                <option value="Xem tất cả">Xem tất cả</option>
                <option  value="Đang chờ" >Đang chờ</option>
                <option  value="Thành công">Thành công </option>
                <option  value="Thất bại">Thất bại</option>
        
             </select>


        </th>
        <div class="search ">
            <th>
                <input type="text" placeholder="Search.." [(ngModel)]="keyword" name="keyword" class="btn btn-outline-info">
            </th>
            <th>
                <button class="btn" type="submit" (click)="search()"><i class="fas fa-search"></i></button>
            </th>
        </div>

        <div class="col-3 form-group d-flex flex-row align-items-center mt-2 w-100">
            <!-- <label for="Choosesupplier">Choose name Customer</label>                               -->

            <ng-select placeholder="Name&sdt..." id="Choosesupplier" [(ngModel)]="nameSDTCustomer" name="nameSDTCustomer" (change)=" setNameAndPhoneCustomer()" required>

                <ng-option *ngFor="let item of listCustomer" [value]="item.name+item.phoneNumber">
                    {{item.name}} {{item.phoneNumber}}

                    <!-- <p style="background-color: aqua; margin: auto; width: 400px;">{{item.name}}</p> -->

                </ng-option>
            </ng-select>
            <button class="btn" type="submit" (click)="searchIdCustomer()"><i class="fas fa-search"></i></button>

        </div>

        <div>

            <th>
                <ng-select placeholder="day.." [(ngModel)]="day" name="day">
                    <ng-option *ngFor="let item of listDay" [value]="item">{{item}}</ng-option>
                </ng-select>
            </th>
            <th>
                <ng-select placeholder="month.." [(ngModel)]="month" name="month">
                    <ng-option *ngFor="let item of listMonth" [value]="item">{{item}}</ng-option>
                </ng-select>
            </th>
            <th>
                <ng-select placeholder="year.." [(ngModel)]="year" name="year">
                    <ng-option *ngFor="let item of listYear" [value]="item">{{item}}</ng-option>
                </ng-select>
            </th>
            <th>
                <button class="btn" type="submit" (click)="setSearchDate()"><i class="fas fa-search col-2"></i></button>
            </th>


        </div>
        <div class=" row ml-auto mt-3 mt-md-0">

            <h5 class="mb-0 mr-1  font-weight-bold font-14" style="color:black"> Total Order: {{totalOrder}} </h5>


        </div>
    </div>
    <!-- Table Order -->
    <table class="table table-light table-data" style="text-align:center; ">
        <thead class=" text-dark " >
            <tr> 
                <th>codeOrder</th>       
                <!-- <th>Id_Order</th> -->
                <!-- <th>Id_Customer</th> -->
                <th>customer</th>
                <th>createDay</th>
                <th>status</th>
                <th>totalMoney</th>
                <th></th>
                <th>showOrderDetail</th>

                <th>edit</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listOrder" style="color:black">
                <td>{{item.guid}}</td>
                <!-- <td>{{item.idOrder}}</td> -->
                <!-- <td>{{item.idCustomer}}</td> -->
                <td>{{item.nameCustomer}}</td>
                <td>{{item.createDate|date}}</td>
                <td>{{item.status}}</td>
                <td>{{item.totalMoney|currency:'VND'}}</td>
                <td></td>

                <!--  -->
                <td>
                    <a [routerLink]="['//homeAdmin/order/list-order-detail',item.idOrder]" routerLinkActive="active" (click)="show(item.idOrder)"><i class="fas fa-clipboard  fa-2x"></i></a>
                </td>
                <td>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editOrder" (click)="showEdit(item)">
                        <i class="fas fa-edit"></i></button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete" (click)="showEdit(item)">
                    <i class="far fa-trash-alt" ></i></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
            </tr>
        </tfoot>
    </table>
    <!-- End table -->
    <!-- paging -->
    <div class="paging">
        <table class="nav nav-pills justify-content-center table-light ">

            <a class="nav-link " [routerLink]="['//homeAdmin/order/list-order',i-5]" (click)="setPage(i-5,$event)" *ngIf="i-5>5"><i class="fas fa-angle-double-left"></i></a>
            <a class="nav-link " [routerLink]="['//homeAdmin/order/list-order',i-1]" (click)="setPage(i-1,$event)" *ngIf="i-1>=0+1"><i class="fas fa-angle-left"></i></a>

            <li>
                <a class="nav-link " [routerLink]="['//homeAdmin/order/list-order',i-2]" (click)="setPage(i-2,$event)" *ngIf="i-2>=0+1">{{i-2}}</a>
            </li>
            <li>
                <a class="nav-link " [routerLink]="['//homeAdmin/order/list-order',i-1]" (click)="setPage(i-1,$event)" *ngIf="i-1>=0+1">{{i-1}}</a>
            </li>
            <li>
                <a class="nav-link " [routerLink]="['//homeAdmin/order/list-order',i]" (click)="setPage(i,$event)" [ngClass]="{'active':true}" *ngIf="i>=1">{{i}}</a>
            </li>
            <li>
                <a class="nav-link " [routerLink]="['//homeAdmin/order/list-order',i+1]" (click)="setPage(i+1,$event)" *ngIf="i+1<=20">{{i+1}}</a>
            </li>
            <li>
                <a class="nav-link " [routerLink]="['//homeAdmin/order/list-order',i+2]" (click)="setPage(i+2,$event)" *ngIf="i+1<=20">{{i+2}}</a>
            </li>
            <li>
                <h1> </h1>
            </li>
            <a class="nav-link " [routerLink]="['//homeAdmin/order/list-order',i+1]" (click)="setPage(i+1,$event)" *ngIf="i+1<=20"><i class="fas fa-angle-right"></i></a>
            <a class="nav-link " [routerLink]="['//homeAdmin/order/list-order',i+5]" (click)="setPage(i+5,$event)" *ngIf="i+1<=15"><i class="fas fa-angle-double-right"></i></a>
        </table>
    </div>
    <!-- Modal delete -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xoá</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    ... ban thực sự muốn xoá
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete()">Xóa</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal add -->
    <div class="modal fade " id="addOrder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Order</h5>
                </div>
                <div class="modal-body">
                    <form #formAdd="ngForm" novalidate>

                        <div class="p-3 position-relative ps ps--active-y" style="height: 250px;">

                            <div class="row">
                                <!-- <div class="col-12 form-group">Id Order
                                    <input type="text" [(ngModel)]="idOrder" name="idOrder" class="form-control" required #id="ngModel">
                                    <span class="col-12 validator" *ngIf="id.errors?.required && id.touched">Id is required</span></div>
                                 -->

                                <div class="form-group col-12">Date
                                    <input type="date" class="form-control" ngModel required name="createDate" #dateCreate="ngModel">
                                    <span class="col-12 validator" *ngIf="dateCreate.errors?.required && dateCreate.touched">Date is required</span>
                                </div>
                                <div class="col-12 form-group" >
                                    <label for="Choosesupplier">Choose name Customer</label>                              
                                    <ng-select    id="Choosesupplier" [(ngModel)]="nameCustomer" name="nameCustomer" (change)="setNameCustomer()" required>
                                            <table  >
                                                <ng-option *ngFor="let item of listCustomer" [value]="item.name"  >
                                                   
                                                        <!-- <p style="background-color: aqua; margin: auto; width: 400px;">{{item.name}}</p> -->
                                                        {{item.name}} 
                                                </ng-option>
                                            </table>
                                    </ng-select>                                   
                        
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer  ">
                            <button type="button" class="btn btn-outline-danger " data-dismiss="modal">Cancel</button>
                            <button [disabled]="formAdd.invalid" type="submit" class="btn btn-outline-primary " data-dismiss="modal" (click)="(addOrder(formAdd))" data-toggle="modal" data-target="#addOrder2">Add+</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modall add2 -->
    <div class="modal fade" id="addOrder2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    ... tạo mới danh sách
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" [routerLink]="['//homeAdmin/order/list-order-detail',idOrder]" routerLinkActive="active">Thêm ds</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal edit Order -->
    <div class="modal fade " id="editOrder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Order</h5>
                </div>
                <div class="modal-body">
                    <form #formEdit="ngForm" novalidate>
                        status
                        <select class="form-control" [(ngModel)]="editOrderkey.status" name="status"> 
                        <!-- <option  value="">xem tat ca</option> -->
                        <option [selected]="editOrderkey.status==='đang chờ'" value="đang chờ" >Đang chờ</option>
                        <option [selected]="editOrderkey.status==='Thành công'" value="Thành công">Thành công </option>
                        <option [selected]="editOrderkey.status==='Thất bại'" value="Thất bại">Thất bại</option>
                        <!-- <option [selected]="editOrderkey.status==='Thất bại'" value="Thất bại">Thất bại</option> -->
                    
                    </select>

                        <!-- <div class="form-group col-12">Date
                                <p></p>
                            <input type="text" class="form-control" ngModel [value]=" editOrderkey.createDate | date" required name="createDate" >
                            <span class="col-12 validator" *ngIf="dateCreate.errors?.required && dateCreate.touched">Date is required</span>
                            <p>{{editOrderkey.createDate | date}}</p>
                        </div> -->
                        <div class="form-group col-12">Date old: {{editOrderkey.createDate|date}}
                            <input type="date" class="form-control" [(ngModel)]="editOrderkey.createDate" required name="createDate" #dateCreate="ngModel">
                            <span class="col-12 validator" *ngIf="dateCreate.errors?.required && dateCreate.touched">Date is
                                required</span>
                        </div>


                        <div class="modal-footer  ">
                            <button type="button" class="btn btn-outline-danger " data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-outline-primary " data-dismiss="modal" (click)="(editOrder(formEdit))">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- End edit bill import -->