<div class="header">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Home</a>
        <span class="breadcrumb-item " routerLink="/homeAdmin/order/product-import" routerLinkActive="active">Bill Import</span>
        <span class="breadcrumb-item active" routerLink="/homeAdmin/order/product-import-detail" routerLinkActive="active">Bill Import Detail</span>
    </nav>
    <div class="d-md-flex align-items-center bg-white p-3">
        <h3 class="mb-0">Bill Import </h3>

    </div>

    <!-- Table -->
    <div class="table-data">
        <table class="table bg-white">
            <thead class="thead-light">
                <tr>
                    <th rowspan="2" id="idBill">ID Bill </th>
                    <th colspan="6">Product</th>
                    <th rowspan="2">Total Price</th>
                    <th rowspan="2">Date</th>
                </tr>
                <tr>
                    <th>ID Product</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Unit Price</th>
                    <th>Money</th>
                    <th>Supplier</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle"></td>
                    <td class="py-4"><span class="align-middle font-16"></span></td>
                    <td class="align-middle"></td>
                    <td class="align-middle "></td>
                    <td class="align-middle"> </td>
                    <td class="align-middle action">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- End table Supplier -->