.table-data {
    table {
        tr {
            #idBill {
                width: 70px;
            }
            .action a i:hover {
                color: chocolate;
            }
            th {
                text-align: center;
                vertical-align: middle;
                p {
                    text-align: center;
                }
            }
        }
    }
}

.delete {
    margin-left: 20px;
    margin-right: 20px;
}

.action a:hover {
    color: darkgoldenrod;
}

a {
    cursor: pointer;
}

.footer {
    h6 {
        font-weight: bold;
    }
}

.breadcrumb-item {
    cursor: pointer;
}

.validator {
    color: red;
    font-size: small;
}

.delete {
    margin-left: 30px;
}