.table-data {
    table {
        tr {
            #idBill {
                width: 70px;
            }
            th {
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}