<div class="wrapper-billImport">
    <!-- Header -->
    <div class="header">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="#">Home</a>
            <span class="breadcrumb-item active" href="#">Bill Import</span>
        </nav>
        <div class="d-md-flex align-items-center bg-white p-3">
            <h3 class="mb-0 font-weight-bold text-primary">Bill Import </h3>
            <div class="ml-auto mt-3 mt-md-0">
                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#addBill" (click)="getSupplier()">
                    <i class="fas fa-plus font-14 mr-1 text-light"></i>
                    <span class="ml-1 text-white font-weight-bold">Add </span>
                </button>
            </div>
        </div>
        <div class="d-md-flex align-items-center border-top bg-white p-3">
            <div><input class="search py-1" type="search" placeholder="Search.." [(ngModel)]="keyword" name="keyword">
                <button class="btn" type="submit" (click)="searchBill()"><i class="fas fa-search"></i></button>
            </div>

            <div class="col-3">
                <ng-select [(ngModel)]="nameSupplier" placeholder="Choose Supplier" (change)="getBillBySupp()">
                    <ng-option [value]="0">All</ng-option>
                    <ng-option *ngFor="let item of listSupp" [value]="item.name">{{item.name}}</ng-option>
                </ng-select>
            </div>
            <div class="col-3">
                <ng-select [(ngModel)]="month" placeholder="Choose Month" (change)="getBillByMonth()">
                    <ng-option [value]="0">All</ng-option>
                    <ng-option *ngFor="let item of listMonth" [value]="item.value">{{item.name}}</ng-option>
                </ng-select>
            </div>
            <div class=" row ml-auto mt-3 mt-md-0">
                <h5 class="mb-0 mr-1  font-weight-bold font-14"> Total Bill </h5>{{totalBill}}
            </div>
        </div>
    </div>
    <!-- Table -->
    <div class="table-data">
        <table class="table bg-white">
            <thead class="thead-light">
                <tr>
                    <th>Bill</th>
                    <th>Total Product</th>
                    <th>Total Price</th>
                    <th>Date</th>
                    <th>Supplier</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listBillImport | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td class="align-middle py-4">{{item.idCode}}</td>
                    <td class="py-4"><span class="align-middle font-16">{{item.totalProduct}}</span></td>
                    <td class="align-middle">{{item.totalMoney | currency:"VND"}}</td>
                    <td class="align-middle ">{{item.createDate | date }}</td>
                    <td class="align-middle">{{item.nameSupplier}}</td>
                    <td class="align-middle action">
                        <button class="btn btn-outline-info">
                            <a [routerLink]="['//homeAdmin/order/product-import-detail', item.idBillImport]"
                                routerLinkActive="active">View
                            </a>
                        </button>
                        <button class="btn btn-outline-primary ml-1">
                            <a data-toggle="modal" data-target="#editBill" (click)="getBillImport(item)">
                                Edit
                            </a>
                        </button>
                        <button class="btn btn-outline-danger ml-1">
                            <a [routerLink]="['//homeAdmin/order/product-import-detail', item.idBillImport]"
                                routerLinkActive="active">Delete
                            </a>
                        </button>
                    </td>
                </tr>
                <pagination-controls (pageChange)="pageChange($event)" previousLabel="" nextLabel="" class="my-pagination"></pagination-controls>
            </tbody>
        </table>
    </div>
    <!-- End table Bill Import -->

    <!-- Modal add new bill import -->
    <div class="modal fade " id="addBill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Bill Import</h5>
                </div>
                <div class="modal-body">
                    <form #formAdd="ngForm" novalidate>

                        <div class="p-3 position-relative ps ps--active-y" style="height: 250px;">
                            <div class="row">
                                <div class="col-12 form-group">
                                    <ng-select id="Choosesupplier" [(ngModel)]="nameSupplier" placeholder="Choose Supplier" name="nameSupplier" (change)="setSupplier()" required>
                                        <ng-option *ngFor="let item of listSupp" [value]="item.name">{{item.name}}
                                        </ng-option>
                                    </ng-select>
                                </div>

                                <div>
                                    <input hidden type="number" class="form-control" required name="idSupplier" [(ngModel)]="idSupplier">
                                </div>
                                <div class="form-group col-12">Date
                                    <input type="date" class="form-control" ngModel required name="createDate" #dateCreate="ngModel">
                                    <span class="col-12 validator" *ngIf="dateCreate.errors?.required && dateCreate.touched">Date is
                                        required</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer  ">
                            <button type="button" class="btn btn-outline-danger " data-dismiss="modal">Cancel</button>
                            <button [disabled]="formAdd.invalid" type="submit" class="btn btn-outline-primary " data-dismiss="modal" (click)="(addBill(formAdd))" data-toggle="modal" data-target="#message">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End model add bill import -->


    <!-- Model message -->

    <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    {{message}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" [routerLink]="['//homeAdmin/order/product-import-detail',idBillImport]" routerLinkActive="active">Next</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End modal messsge -->


    <!-- Modal edit bill import -->
    <div class="modal fade " id="editBill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Bill Import</h5>
                </div>
                <div class="modal-body">
                    <form #formEdit="ngForm" novalidate>

                        <div class="p-3 position-relative ps ps--active-y" style="height: 250px;">
                            <div class="row">
                                <div class="col-12 form-group">Id Bill Import
                                    <input type="text" disabled [(ngModel)]="billImport.idBillImport" name="idBillImport" class="form-control" required #id="ngModel">
                                    <span class="col-12 validator" *ngIf="id.errors?.required && id.touched">Id is
                                        required</span></div>
                                <div class="col-12 form-group">
                                    <label for="Choosesupplier1">Choose supplier</label>
                                    <select disabled class="form-control" id="Choosesupplier1" [(ngModel)]="billImport.nameSupplier" name="nameSupplier" (change)="setSupplier()" required>
                                        <option hidden>Choose Supplier</option>
                                        <option *ngFor="let item of listSupp">{{item.name}}</option>
                                    </select>
                                </div>

                                <div class="form-group col-12">Date
                                    <input type="date" class="form-control" [(ngModel)]="billImport.createDate" required name="createDate" #dateCreate="ngModel">
                                    <span class="col-12 validator" *ngIf="dateCreate.errors?.required && dateCreate.touched">Date is
                                        required</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer  ">
                            <button type="button" class="btn btn-outline-danger " data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-outline-primary " data-dismiss="modal" (click)="(editBill(formEdit))">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- End edit bill import -->
</div>