.edit {
    margin-left: 40px;
}

.removeBillDetail {
    padding-top: 33px;
}

a {
    cursor: pointer;
}

.validator {
    color: red;
    font-size: small;
}

.fa-trash-alt {
    margin-left: 20px;
}

td a {
    color: black;
     :hover {
        color: chocolate;
    }
}

.search {
    border-radius: 5px;
<<<<<<< HEAD
    ;
=======
>>>>>>> c3461351745b811b152efa1791e7c226f842a8dd
}