<div class="header">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Home</a>
        <span class="breadcrumb-item active" href="#">Order/productReturn</span>
    </nav>
</div>

<div id="header">
    <div class="d-md-flex align-items-center bg-white p-3">
        <h3 class="mb-0" style="color: blue;">ProductReturn List</h3>
        <div class="ml-auto mt-3 mt-md-0">

        </div>
    </div>

    <div class="d-md-flex align-items-center border-top bg-white p-3">
        <div class="search"><input type="text" placeholder="Search.." [(ngModel)]="keyword" name="keyword">
            <button class="btn" type="submit" (click)="search()" style="background-color: chartreuse;"><i class="fas fa-search" style="color:brown" ></i></button>
        </div>


        <div class=" row ml-auto mt-3 mt-md-0">

            <button type="button" class="btn btn-outline-danger " data-toggle="modal" data-target="#addProductReturn">Add+</button>


        </div>
    </div>
    <!-- phan table  -->
    <th><button type="button" class="btn btn-primary " (click)="statusBoom()">Hàng boom</button></th>
    <th><button type="button" class="btn btn-danger " (click)="statusLoi()">Hàng Lỗi</button></th>
    <table class="table table-light table-night">
        <thead class="thead-light">
            <tr>
                <th>IdProductReturn</th>
                <th>IdProduct</th>
                <th>IdOrder</th>
                <th>amount</th>
                <th>status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listProductReturn">
                <td>{{item.idProductReturn}}</td>
                <td>{{item.idProduct}}</td>
                <td>{{item.idOrder}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.status}}</td>
                <!-- <td>thay doi</td> -->
                <td>
                    <button type="button" class="btn btn-outline-primary " data-toggle="modal" data-target="#delete">
                    <i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>

            </tr>
        </tfoot>
    </table>


    <h4>Total: {{totalProductReturn}}</h4>
    <!-- end table -->
    <!-- paging -->
    <div class="paging">
        <ul class="nav nav-pills justify-content-center ">
            <!-- <li class="nav-item" *ngFor="let p of pages; let i=index">
            <a class="nav-link " href="" (click)="setPage(i,$event)" [ngClass]="{'active':i==page}" *ngIf="expression">{{i}}</a>
        </li> -->
            <li>
                <a class="nav-link " href="" (click)="setPage(i-2,$event)" [ngClass]="{'active':i-2==page}" *ngIf="i-2>=0">{{i-2}}</a>
            </li>
            <li>
                <a class="nav-link " href="" (click)="setPage(i-1,$event)" [ngClass]="{'active':i-1==page}" *ngIf="i-1>=0">{{i-1}}</a>
            </li>
            <li>
                <a class="nav-link " href="" (click)="setPage(i,$event)" [ngClass]="{'active':i==page}" *ngIf="i>=0">{{i}}</a>
            </li>
            <li>
                <a class="nav-link " href="" (click)="setPage(i+1,$event)" [ngClass]="{'active':i+1==page}" *ngIf="i>=0">{{i+1}}</a>
            </li>
            <li>
                <a class="nav-link " href="" (click)="setPage(i+2,$event)" [ngClass]="{'active':i+2==page}" *ngIf="i>=0">{{i+2}}</a>
            </li>

            <li>
                <a class="nav-link " href="" (click)="setPage(10,$event)" [ngClass]="{'active':10==page}" *ngIf="i+2<10">{{10}}</a>
            </li>
            <li>
                <a class="nav-link " href="" (click)="setPage(20,$event)" [ngClass]="{'active':20==page}" *ngIf="i+2<20">{{20}}</a>
            </li>
            <li>
                <a class="nav-link " href="" (click)="setPage(30,$event)" [ngClass]="{'active':30==page}" *ngIf="i+2<30">{{30}}</a>
            </li>
            <li>
                <a class="nav-link " href="" (click)="setPage(40,$event)" [ngClass]="{'active':40==page}" *ngIf="i+2<40">{{40}}</a>
            </li>
        </ul>
    </div>
    <!-- MoDal -->
    <!-- Modal delete -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xoá</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    ... ban thực sự muốn xoá
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteProductReturn()">Xóa</button>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <!-- add product return -->
    <div class="modal fade " id="addProductReturn" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Product Return </h5>
                </div>
                <div class="modal-body">
                    <form #formAdd="ngForm" novalidate>

                        <div class="p-3 position-relative ps ps--active-y">
                            <div class="row">
                                <!-- <div class="col-12 form-group">Id_product_Return
                                <input type="text" [(ngModel)]="idProductReturn" name="idProductReturn" class="form-control" required #id="ngModel">
                                <span class="col-12 validator" *ngIf="id.errors?.required && id.touched">Id is required</span>
                            </div> -->
                                <div class="col-12 form-group">Id_product
                                    <input type="text" [(ngModel)]="idProduct" name="idProduct" class="form-control" required #id="ngModel">
                                    <span class="col-12 validator" *ngIf="id.errors?.required && id.touched">Id is required</span>
                                </div>
                                <div class="col-12 form-group">Id_Order
                                    <input type="text" [(ngModel)]="idOrder" name="idOrder" class="form-control" required #id="ngModel">
                                    <span class="col-12 validator" *ngIf="id.errors?.required && id.touched">Id is required</span>
                                </div>
                                <div class="col-12 form-group">amount
                                    <input type="text" [(ngModel)]="amount" name="amount" class="form-control" required #id="ngModel">
                                    <span class="col-12 validator" *ngIf="id.errors?.required && id.touched">Id is required</span>
                                </div>
                                <div class="col-3 form-group">Status
                                    <div class="row">
                                        <div style="margin-right: 20px;"><input ngModel name="status" type="radio" value="Lỗi" required>Lỗi</div>
                                        <div><input ngModel name="status" type="radio" value="Bom" required>Bom hàng</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer  ">
                            <button type="button" class="btn btn-outline-danger " data-dismiss="modal">Cancel</button>
                            <button [disabled]="formAdd.invalid" type="submit" class="btn btn-outline-primary " data-dismiss="modal" (click)="(addProductReturn(formAdd))">Add+</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>