@mixin style-icon {
    padding-right: 10px;
}

.w-25 {
    width: 18% !important;
    transition: all 0.5s;
    left: 0;
}

.checkbox {
    display: none;
}

#check:checked~* .w-25 {
    left: -190px;
}

#check:checked~* .menu-order {
    // visibility: hidden;
    // transform: skew(0);
    display: none;
}

#check:checked~* .sidebar {
    li {
        a {
            font-size: 20px;
            margin-left: 190px;
            span {
                display: none;
            }
        }
    }
}

#check:checked~* .content {
    margin-left: 60px !important;
}

#check:checked~* .tools {
    left: 4%;
}

.content {
    transition: all 0.5s;
}

#check:checked~* .logo {
    img {
        margin-left: 150px;
    }
    span {
        display: none;
    }
}

// Header
.navbar-header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    .logo {
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #2a3042;
        padding-left: 50px;
        img {
            margin-left: 0;
            transition: all 0.5s;
            width: 18%;
            vertical-align: sub !important;
        }
        .text-logo {
            color: white;
            font-weight: bold;
            padding-left: 10px;
            font-size: 16px;
        }
    }
    .tools {
        box-shadow: 5px 6px 7px #f2f4f6;
        padding-top: 10px;
        padding-bottom: 10px;
        position: fixed;
        display: flex;
        right: 0;
        left: 18%;
        transition: all 0.5s;
        .icon-bar {
            margin-left: 15px;
            margin-right: 10px;
            i {
                margin-top: 6px;
                vertical-align: sub;
                padding-right: 10px;
                padding-left: 10px;
                color: rgb(119, 115, 115);
                font-size: 20px;
                cursor: pointer;
            }
        }
        .form {
            margin-left: 10px;
            .form-search {
                position: relative;
                .search {
                    background-color: #f2f4f6;
                    outline: none;
                    border: none;
                    height: 35px;
                    width: 200px;
                    border-radius: 20px;
                    padding-left: 40px;
                    padding-right: 10px;
                }
                .icon-search {
                    position: absolute;
                    background-color: transparent;
                    left: 12px;
                    top: 6px;
                    outline: none;
                    border: none;
                    i {
                        color: black;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    .notify {
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        .dropdown {
            width: 150px;
            background-color: transparent;
            .btn {
                img {
                    width: 19%;
                    border-radius: 50%;
                }
                &:focus {
                    box-shadow: none;
                }
                span {
                    margin-left: 10px;
                }
            }
            .animate {
                animation-duration: 0.3s;
                animation-fill-mode: both;
                &.slideIn {
                    animation-name: slideIn;
                }
                @keyframes slideIn {
                    0% {
                        transform: translateY(2rem);
                        opacity: 0;
                    }
                    100% {
                        transform: translateY(3.5rem);
                        opacity: 1;
                    }
                    0% {
                        transform: translateY(5rem);
                        opacity: 0;
                    }
                }
            }
            .dropdown-menu {
                right: 0 !important;
                left: auto !important;
                .dropdown-item {
                    color: #212529;
                    i {
                        margin-right: 10px !important;
                    }
                }
            }
        }
    }
    .icon-admin {
        background: none;
        outline: none;
        border: none;
        width: 35px;
        height: 35px;
        transition: width .35s;
        overflow: hidden;
        float: right;
        cursor: pointer;
        img {
            border-radius: 50%;
            float: left;
            width: 35px;
        }
        .logout {
            float: right;
            font-size: 15px;
            border-radius: 3px;
            color: white;
            position: relative;
            right: 35px;
            opacity: 0;
            transition: opacity .45s;
            overflow: hidden;
            p {
                cursor: pointer;
                padding: 5px;
            }
        }
        &.active {
            width: 150px;
            .logout {
                opacity: 1;
            }
        }
    }
}

.page-content {
    // Sidebar
    margin-top: 50px;
    .sidebar-menu {
        // background: #2a3042;
        display: flex;
        position: relative;
        height: 100%;
        .sidebar {
            transition: all 0.5s;
            position: fixed;
            height: 100%;
            background-color: #2a3042;
            li {
                a {
                    transition: all 0.3s;
                    display: block;
                    padding: 15px;
                    color: white;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                    border-top: 1px solid rgba(225, 225, 225, 0.05);
                    text-transform: capitalize;
                    i {
                        width: 35px;
                    }
                    &.active {
                        border-left: 2px solid cyan;
                    }
                }
                &.sub-menu {
                    .menu-order {
                        position: static;
                        li {
                            a {
                                padding-left: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
    .content {
        position: relative;
        background-color: #f8f8fb;
        margin-left: 18%;
        padding: 20px;
        height: 100vh;
        .footer {
            position: absolute;
            bottom: 0;
        }
    }
}