<div class="clearfix">
    <div class="col col-20 navbar">
        <div class="header">
            <img src="../../assets/image/logo-icon.png" alt="">
            <span id="text-admin">Admin</span>
        </div>
        <div class="slide-bar">
            <nav>
                <ul class="menu menu-nav-bar">
                    <li>
                        <a href="">
                            <span class="mdi mdi-access-point"></span>
                            <span>Thống kê</span></a>
                    </li>
                    <li><a href=""><span>Quản lý khách hàng</span></a></li>
                    <li><a href=""><span>Quản lý nhà cung cấp</span></a></li>
                    <li><a href=""><span>Quản lý Sản phẩm</span></a></li>
                    <li><a href=""><span>Quản lý đơn hàng</span></a></li>
                    <li><a href=""><span>Quản lý loại sản phẩm</span></a></li>
                    <li><a href=""><span>Quản lý Commnet</span></a></li>

                </ul>
            </nav>
        </div>
    </div>
    <div class="col col-80"></div>
</div>